$font-stack:	'Roboto Condensed', sans-serif;
$font-size:	16px;

$bkg-panel: rgba(66, 66, 66, 0.85);
$bkg-scroll-thumb: rgba(66, 66, 66, 1);
$bkg-input: rgba(133, 127, 116, .5);
$bkg-go: rgba(124, 179, 66, 1);
$bkg-item: rgba(104, 159, 56, 0.8);
$bkg-item-selected: rgba(124, 179, 66, 1);

$color-panel: rgba(255, 213, 79, 1); //#ffd54f;
$color-message: rgba(204, 204, 204, 1); //#ccc;
$color-dark: rgba(66, 66, 66, 1);

$panel-left-min-width: 150px;
$panel-left-max-width: 35%;
$panel-left-bottom: 30%;
$panel-left-padding: 0 .5em;

$panel-right-width: 55%;
$panel-right-padding: .5em 1em 1em 1em;

$tab-radius: .5em .5em;

/* and mixins */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@mixin transform($property) {
  -webkit-transform: $property;
          transform: $property;
}

@mixin transform-origin($transform-origin: center center) {
  -webkit-transform-origin: $transform-origin;
          transform-origin: $transform-origin;
}

/* extension. note just using :after here -- didn't work */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}